Msd_V2/Web References/MaptqCN/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org//ws" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org//ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org//ws">
      <s:element name="runWSxml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requesttype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="securecode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languageid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="candidateid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instrumentid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="normsetid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnurl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notifylist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resultposturl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resultpostheaders" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resultpostbodytemplate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runWSxmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="runWSxmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runWSobj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqobj" type="tns:wsRequestObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="wsRequestObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultPostHeaders" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultPostBodyTemplate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultPostUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NotifyList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GenderId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NormsetId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstrumentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecureCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LanguageId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="runWSobjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="runWSobjResult" type="tns:wsResponseObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="wsResponseObj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedirectUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getScoresXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securecode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="candidateid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instrumentid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="normsetid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mappingid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iscustommapping" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="limitprofile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rulebaseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languageid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodedscore" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getScoresXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getScoresXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getScoresObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqobj" type="tns:wsScoreReqObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="wsScoreReqObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GenderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RulebaseID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LimitProfile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isCustomMapping" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MappingID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LanguageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Scale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NormsetId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstrumentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecureCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EncodedScore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getScoresObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getScoresObjResult" type="tns:wsScoreRespObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="wsScoreRespObj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Scores" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="combineScoresXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securecode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scores" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="combineScoresXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="combineScoresXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="combineScoresObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reqobj" type="tns:wsScoreUtilReqObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="wsScoreUtilReqObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecureCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Scores" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Scale" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="combineScoresObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="combineScoresObjResult" type="tns:wsScoreRespObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="runWSxmlSoapIn">
    <wsdl:part name="parameters" element="tns:runWSxml" />
  </wsdl:message>
  <wsdl:message name="runWSxmlSoapOut">
    <wsdl:part name="parameters" element="tns:runWSxmlResponse" />
  </wsdl:message>
  <wsdl:message name="runWSobjSoapIn">
    <wsdl:part name="parameters" element="tns:runWSobj" />
  </wsdl:message>
  <wsdl:message name="runWSobjSoapOut">
    <wsdl:part name="parameters" element="tns:runWSobjResponse" />
  </wsdl:message>
  <wsdl:message name="getScoresXmlSoapIn">
    <wsdl:part name="parameters" element="tns:getScoresXml" />
  </wsdl:message>
  <wsdl:message name="getScoresXmlSoapOut">
    <wsdl:part name="parameters" element="tns:getScoresXmlResponse" />
  </wsdl:message>
  <wsdl:message name="getScoresObjSoapIn">
    <wsdl:part name="parameters" element="tns:getScoresObj" />
  </wsdl:message>
  <wsdl:message name="getScoresObjSoapOut">
    <wsdl:part name="parameters" element="tns:getScoresObjResponse" />
  </wsdl:message>
  <wsdl:message name="combineScoresXmlSoapIn">
    <wsdl:part name="parameters" element="tns:combineScoresXml" />
  </wsdl:message>
  <wsdl:message name="combineScoresXmlSoapOut">
    <wsdl:part name="parameters" element="tns:combineScoresXmlResponse" />
  </wsdl:message>
  <wsdl:message name="combineScoresObjSoapIn">
    <wsdl:part name="parameters" element="tns:combineScoresObj" />
  </wsdl:message>
  <wsdl:message name="combineScoresObjSoapOut">
    <wsdl:part name="parameters" element="tns:combineScoresObjResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="runWSxml">
      <wsdl:input message="tns:runWSxmlSoapIn" />
      <wsdl:output message="tns:runWSxmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runWSobj">
      <wsdl:input message="tns:runWSobjSoapIn" />
      <wsdl:output message="tns:runWSobjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getScoresXml">
      <wsdl:input message="tns:getScoresXmlSoapIn" />
      <wsdl:output message="tns:getScoresXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getScoresObj">
      <wsdl:input message="tns:getScoresObjSoapIn" />
      <wsdl:output message="tns:getScoresObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="combineScoresXml">
      <wsdl:input message="tns:combineScoresXmlSoapIn" />
      <wsdl:output message="tns:combineScoresXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="combineScoresObj">
      <wsdl:input message="tns:combineScoresObjSoapIn" />
      <wsdl:output message="tns:combineScoresObjSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runWSxml">
      <soap:operation soapAction="http://tempuri.org//ws/runWSxml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runWSobj">
      <soap:operation soapAction="http://tempuri.org//ws/runWSobj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScoresXml">
      <soap:operation soapAction="http://tempuri.org//ws/getScoresXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScoresObj">
      <soap:operation soapAction="http://tempuri.org//ws/getScoresObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="combineScoresXml">
      <soap:operation soapAction="http://tempuri.org//ws/combineScoresXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="combineScoresObj">
      <soap:operation soapAction="http://tempuri.org//ws/combineScoresObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runWSxml">
      <soap12:operation soapAction="http://tempuri.org//ws/runWSxml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runWSobj">
      <soap12:operation soapAction="http://tempuri.org//ws/runWSobj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScoresXml">
      <soap12:operation soapAction="http://tempuri.org//ws/getScoresXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScoresObj">
      <soap12:operation soapAction="http://tempuri.org//ws/getScoresObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="combineScoresXml">
      <soap12:operation soapAction="http://tempuri.org//ws/combineScoresXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="combineScoresObj">
      <soap12:operation soapAction="http://tempuri.org//ws/combineScoresObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="https://www.maptqcn.com/ws/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="https://www.maptqcn.com/ws/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>